body {
	background-color: #ffffff;
	overflow-x: hidden;
	height: 100%;
}

html {
	background-color: #ffffff;
	height: 100%;
}

abbr[title],
abbr[data-original-title],
abbr {
	border-bottom: 0px;
}

.page-container, footer {
	background-color: #ffffff;
}

.intro-header {
	background-color: #404040;
}

.logo-nav-wrapper {
	width: 50%;
    margin: 0 auto;
}

body:not(.frontend) {
	span.label {
		color: #333;
	}

	footer {
		.fa-lg {
    		font-size: 1.85em !important;
    	}
	}
}

#slickslideshow img {
	padding: 0;
}

.buttonField() {
	.introHeadB();
	margin: 0 auto;
	display: block;
	padding: 15px;
	border: 0px;
	border-radius: 0px;
	text-transform: uppercase;
	height: 55px;
	color: #ffffff;
	letter-spacing: 0.05em;
	width: 170px;
	font-size: 20px;
	background-color: #008da9;
	letter-spacing: 0.15em;
	text-shadow: 0px 0px 0px #ffffff;
	
	font-weight: 400;
	/*box-shadow: none;
	outline: none;
	outline: 0px;
	outline-offset: 0px;*/

	&:active:focus {
	}

	&:hover {
		background: #005A76;
		/*box-shadow: none;*/
	}
}

.inputField() {
	.introHeadB();
	padding: 15px;
	padding-left: 30px;
	padding-top: 15px;
	border: 0px;
	border-radius: 0px;
	font-size: 20px;
	height: 55px;
	color: #5e5e5e;
	letter-spacing: 0.10em;
	text-shadow: 0px 0px 0px #ffffff;
	border-color: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	outline: 0px;
	outline-offset: 0px;

	&:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	&:active:focus {
		outline: none;
		outline: 0px;
		outline-offset: 0px;
	}

	border: 1px solid #f5f5f5;
}

.documentLayout() {
	h1 {
		color: #df0934;
		.introBold();
	}

	div {
		.introCondRegular();
    	font-size: 22px;
    	letter-spacing: 0.05em;
    	color: #5e5e5e;
	}

    ol li, ul li {
    	.introCondRegular();
    	letter-spacing: 0.05em;
    	color: #5e5e5e;
    	font-size: 22px;
    	padding-left: 8px;
    }

    ul, ol {
    	font-size: 22px;
    	margin-left: -21px;
    }

    ol {
    	margin-left: -16px;
    }

    ul ul {
    	list-style-type: disc;
    }

    hr {
	    display: block;
	    height: 1px;
	    border: 0;
	    border-top: 1px solid #f1b0bc;
	    margin: 1em 0;
	    padding: 0; 
	}

	table {
		margin-top: 45px;
		width: 900px;
		max-width: 900px;
	}

	table tr:nth-child(even) {
		background: #f5f5f5;
	}

	table tr:nth-child(odd) {
		background: #ffffff;
	}

	table td {
		padding: 0;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 3px;
		line-height: 55px;
		.introCondRegular();
		font-size: 22px;
		letter-spacing: 0.05em;
	}

	table tr:first-child td {
		.introHeadB();
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 0.08em;
		color: #4c4c4c;
	}

	@media (min-width: 1049px) {
		.table-responsive {
			overflow-x: initial;
		}
	}
}

#portal-logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	height: auto;
	background-color: #df0934;
	cursor: pointer;
	z-index: 2;

	@media (max-width: 480px) {
		width: 70px;

		img {
			content: url('++resource++plonetheme.modernbase/logo-glyph.svg') !important;
		}
	}

	img {
		width: inherit;
		height: auto;
		cursor: inherit;
		z-index: inherit;
	}
}

@media (max-width: 769px) {
	.plone-toolbar-left-expanded nav.navbar-default {
	    padding-left: 0;
	    background: #404040;
	    border-color: none;
	}
}

body.frontend, body#tinymce {

	.intro-header {
		margin-bottom: 0px;
	}

	.pager .disabled > span {
		background-color: #fff;
	}

	.title-container {
		padding-top: 55px;
	}

	.main-content {
		width: 100% !important;
		margin: 0 auto;
		margin-left: 0;
	}

	article#content {
		margin-bottom: 30px;
	}

	.no-padding {
		padding-left: 0px;
		padding-right: 0px;
	}

	.no-margin {
		margin-left: 0px;
		margin-right: 0px;
	}

	@media (max-width: 768px) {
		.no-padding {
			padding-left: 0px;
			padding-right: 0px;
		}

		.no-margin {
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	img.image-inline {
	  	display: block;
  		max-width: 100%;
  		height: auto;
	}

	.section-heading {
		font-weight: 700 !important;
	}

	#content article.entry::after,
	.entries::before {
  		height: 0px;
	}

	.pager li.active span {
		background-color: #0085a1;
		border: 1px solid #0085a1 !important;
	}

	.pagination {
		margin: 0px 0 0;
		float: right;
	}

	#content-core a {
  		border-bottom: 0px;
	}

	.formControls {
	    border-top: 0px;
	    background: inherit;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    box-shadow: none;
	}

	.form-group .field {
		margin-bottom: 0px;
	}

	.help-block {
    	margin-top: 5px;
    	margin-bottom: 10px;
	}

	.floating-label-form-group label {
		line-height: 1.761705882em;
	}

	.floating-label-form-group {
		label span.required {
			visibility: hidden;
		}

		.field.error {
	    	background: #ffffff;
	    	-webkit-box-shadow: 0 0 0 0px #ffffff;
	    	box-shadow: 0 0 0 0px #ffffff;
	    	color: #a94442;
    	}

    	textarea {
    		height: auto;
    		min-height: auto;
    	}

    	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
			color: #999999;
		}

		input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
		   color: #999999;  
		}

		input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
		   color: #999999;  
		}

		input:-ms-input-placeholder, textarea:-ms-input-placeholder {  
		   color: #999999;  
		}
    }

    /* Portlet collection */
    .portletCollection.portlet,
    .portletMailChimp.portlet {
    	border: 0px;
    	box-shadow: none;

    	.portletHeader {
    		border-top: 0px;
    		border-radius: 0px;
    		background: none;
    	}

    	.portletContent {
    		border-top: 0px;
    	}

    	.portletFooter {
    		border-top: 0px;
    		background: #ffffff;
    		box-shadow: none;
    		padding-left: 0px;
    	}

    	.caption {
    		font-style: initial;
    		text-align: initial;
    		padding: 0px;
    	}

    	#row-items {
    		padding-left: 0px;
    		padding-right: 0px;
    		margin-left: -15px;
    		margin-right: -15px;
    	}

    	.tileImage {
    		padding-right: 0px;
    		width: 100%;
    		padding-bottom: 0px;
    	}
    }

    /* HEADER */
    .title-container {
    	@media (min-width: 768px) {
    		width: 608px;
    		margin: 0 auto;
    	}

    	h1 {
    		color: #df0934;
    		margin-bottom: 30px;
    		.introBold();
    	}

    	.subheading {
    		color: #ea5d79;
    		font-size: 24px;
    		.introLight();
    	}

    	.separator-wrapper {
    		margin-top: 50px;
    		margin-bottom: 35px;

	    	img {
	    		width: 280px;
	    		display: block;
	    		margin: 0 auto;
	    	}
    	}

    	@media (max-width: 768px) {
    		margin-right: 15px;
    		margin-left: 15px;
    	}
    }

    &:not(.portaltype-document):not(.portaltype-collection):not(.portaltype-folder):not(.portaltype-formfolder) {
    	.separator-wrapper {
    		display: none;
    	}
    }

    .page-container {
    	@media (max-width: 768px) {
    		padding-left: 15px;
    		padding-right: 15px;
    	}
    }

    &.template-logged_out {
    	article#content {
    		padding-top: 50px;
    	}
    }

    /* CONTENT CORE */
    #content-core {
    	@media (min-width: 768px) {
    		width: 700px;
    		margin: 0 auto;
    	}
    }

    /* DOCUMENT LAYOUT */
    h2 {
    	.introHeadB();
    	font-size: 34px;
    	color: #4c4c4c;
    	letter-spacing: 0.05em;
    	font-weight: 400;
    }

    h3 {
    	.introHeadB();
    	font-size: 30px;
    	color: #4c4c4c;
    	letter-spacing: 0.05em;
    	font-weight: 400;
    	margin-top: 45px;
    }

    h4 {
    	.introHeadB();
    	font-size: 26px;
    	color: #4c4c4c;
    	letter-spacing: 0.05em;
    	font-weight: 400;
    	margin-top: 45px;
    }

    h5 {
    	.introHeadB();
    	font-size: 24px;
    	color: #4c4c4c;
    	letter-spacing: 0.05em;
    	font-weight: 400;
    	margin-top: 45px;
    }

    h6 {
    	.introHeadB();
    	font-size: 22px;
    	color: #4c4c4c;
    	letter-spacing: 0.05em;
    	font-weight: 400;
    	margin-top: 45px;
    }

    p {
    	.introCondRegular();
    	font-size: 22px;
    	letter-spacing: 0.05em;
    	color: #5e5e5e;
    }

    p strong {
    	.introCondSemiBold();
    	color: #5e5e5e;
    	font-weight: 400;
    }

    blockquote {
    	text-align: center;
    	padding: 0px;
    	font-style: normal;
    	border-left: none;

    	p {
    		font-size: 36px;
    		line-height: 1.2;
    	}
    }

    #parent-fieldname-text blockquote {
    	@media (min-width: 768px) {
    		margin-left: -20px;
    		margin-right: -20px;
    	}
    }

   	#parent-fieldname-text table {
		@media (min-width: 1050px) {
			margin-left: -100px;
		}
	}

    &.mce-content-body, 
    div#parent-fieldname-text {
    	.documentLayout();
	}

	span.explain {
		cursor: initial;
	}

	/* Form controls */
	.formControls input:not(.btn) {
		.buttonField();
	}

	button {
		text-shadow: 0px 0px 0px #ffffff;
	}

	input[type="text"]:not(.btn),
	input[type="button"]:not(.btn),
	input[type="password"]:not(.btn) {
		.inputField();
	}


	/* Multiple content page */
	&.portaltype-collection, 
	&.portaltype-folder,
	.portletCollection {
		.title-container {
			h1 {
				font-size: 42px;
				text-align: center;
				margin-top: 25px;
			}

			.separator-wrapper {
				margin-top: 55px;
				margin-bottom: 70px;
			}
		}

		.main-container {
			@media (min-width: 767px) {
				width: 100%;
				padding-right: 50px;
				padding-left: 50px;

				.row {
					margin-left: 0px;
					margin-right: 0px;
				}
			}
		}

		h4.item-title {
			margin-top: 0px;
		}

		p.event-date {
			font-size: 20px;
			color: #228ea7;
			margin-bottom: 20px;
		}

		.main-content {
			padding: 0;
			margin: 0;
			width: 100%;
		}

		#content-core {
			width: 100%;
			padding: 0px;

			@media (max-width: 768px) {
				padding:0px;
			}
		}

		a img {
			cursor: pointer;
		}

		.thumb-wrapper {
			width: 100%;
			padding-bottom: 10px;

			img {
				width: 100%;
				padding: 0px;
				margin-bottom: 30px;
			}
		}

		.item-description {
			margin-top: 25px;
		}


		.listing-item {
			padding-bottom: 40px;
		}

		abbr {
			cursor: initial;
			border: 0px;
		}
	}

	/* Event recurrence */
	.event.summary {
		margin-top: 30px;
		max-width: 100%;
		clear:both;
		float: none;
		width: 100%;
		list-style-type: none;
		background: none;
		box-shadow: none;
		padding: 0;
		margin-left: 0;
		letter-spacing: 0.05em;
	}

	.event-date-title {
		display: none;
	}

	&.portaltype-event, &.portaltype-occurrence {

		abbr {
			cursor: initial;
		}

		span.timezone {
			display: none;
		}

		.event-date {
		    font-size: 28px;
		    .introHeadB();
		}

		.event.summary {
			li {
				padding-bottom: 20px;
			}
		}
	}

	/* PORTLET PAGE */
	&.portaltype-portlet-page {
		.title-container {
			display: none;
		}

		@media (max-width: 768px) {
			.portletMailChimp {
				margin-left: -30px;
				margin-right: -30px;
			}
		}

		h1 {
			font-size: 42px;
			color: #df0934;
			.introBold();
			text-align: center;
			margin-top: 25px;
		}

		.separator-wrapper {
			display: block !important;
			margin-top: 55px;
			margin-bottom: 70px;

			img {
	    		width: 280px;
	    		display: block;
	    		margin: 0 auto;
	    	}
		}

		.main-container {
			padding: 15px;
			margin: 0px;
			width: 100%;
		}

		.main-content {
			width: 100%;
			margin: 0;
		}

		#content-core {
			width: 100%;
		}

		.portletCollection {
			.portletHeader {
				background: none;
				padding-bottom: 0px;

				a:hover {
					text-decoration: none;
				}

				@media (max-width: 480px) {
					padding-left: 0px;
					padding-right: 0px;
				}
			}

			padding-bottom: 75px;
			padding-top: 50px;

			.portletFooter {
				clear: both;
				padding-bottom: 0px;
				padding-top: 30px;

				a:hover {
					text-decoration: none;
				}
			}

			.show-more {
				.buttonField();
			}
		}

		.portlet-collection-wat-is-er-te-zien {
			padding-top: 0px;
		}

		@media (min-width: 768px) {
			#row-items {
				padding-left: 50px !important;
				padding-right: 50px !important;
			}
		}

		.intro-header {
			margin-bottom: 0px;
		}

		

		footer {
			padding-top: 0px;
			.portletMailChimp {
				display: none;
			}
		}

		article#content {
			margin-bottom: 0px;
		}

	}

	/* CONTACT FORM */

	&.portaltype-formfolder {

		.label {
			color: #404040;
			font-size: 14px;
			text-align: left;
			padding-left: 0px;
			display: block;
			letter-spacing: 0.05em;
		}

		label {
			letter-spacing: 0.05em;
		}

		&:not(.template-quickedit) {
			.field {
				width: initial;
				margin-bottom: 15px;
			}

			.pfg-form {
				width: initial;
				float: none;
			}
		}

		.title-container {
			h1 {
				font-size: 42px;
				text-align: center;
				margin-top: 25px;
			}

			.separator-wrapper {
				margin-top: 55px;
				margin-bottom: 70px;
			}
		}

		.floating-label-form-group {
			padding-bottom: 0;

			textarea {
				.inputField();
				height: auto;
			}

			textarea, input[type="text"] {
				border: 1px  solid #cacaca;
			}

			input[type="text"],
			input[type="button"],
			input[type="password"] {
				height: 65px
			}

			&> .field:not(.ArchetypesBooleanWidget):not(.ArchetypesCalendarWidget):not(.ArchetypesMultiSelectionWidget):not(.ArchetypesSelectionWidget) label {
				letter-spacing: 0.05em;
				font-size: 1.00em;
			}
		}	

		.pfg-form .formControls {
			text-align: right;

			@media (max-width: 768px) {
				text-align: center;
			}

			input {
				display: initial;
			}
		}

		.pfg-form {
			table.listing td {
				vertical-align: middle;
			}

			select {
				border-radius: 0px;
			}

			select:active:focus {
				border-color: none;
				outline: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}
	}

	&.portaltype-formthankspage blockquote {
		padding-top: 50px;
	}
}

body:not(.frontend).portaltype-formfolder {
	footer .field {
		width: initial;
		margin-bottom: 15px;
	}
}

/* FOOTER */
footer, body.mce-content-body {
	.documentLayout();
}

.plone-toolbar-left-default footer > .container {
	width: 100% !important;
}

.plone-toolbar-left-expanded footer > .container {
	width: 100% !important;
}

.portlet {
	border: 0px;
}

footer {
	padding-bottom: 0px;

	ul {
		margin-left: -40px;
		list-style-type: none;

		li {
			padding-left: 0px;
			margin-bottom: 12px;
		}
	}

	&>.container {
		width: 100%;
	}

	.container {
		@media (min-width: 992px) {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			margin-right: 0;

			.row {
				margin-left: 0;
				margin-right: 0;
			}

			.footer-wrapper {
				padding-left: 100px;
				padding-right: 80px;
			}
		}
	}

	.portlet-static-footer, .portlet-static-social-media {
		margin-left: -15px;
		margin-right: -15px;
	}

	.portlet-static-social-media {
		position: relative;
	}

	.portletStaticText {
		border-top: 0px;
	}

	div.portlet-static-footer {
		background-color: #008da9;
		margin-left: -15px;
		margin-right: -15px;
		p {
			color: #ffffff;
			margin-bottom: 35px;

			a {
				.introCondBold();
				font-size: 24px;
				text-decoration: none;
			}
		}
		a {
			color: #ffffff;
			&:hover {
				color: #ffffff;
			}

			margin-top: 0px;
			margin-bottom: 20px;
		}

		li a {
			color: rgba(255, 255, 255, 0.8);
		}
	}

	/* Footer - social media */
	.social-media-wrapper, .footer-wrapper {
		padding-top: 55px;
		padding-bottom: 45px;
	}

	.social-media-wrapper {

		@media (min-width: 992px) {
			width: 55%;
			margin: 0 auto;
		}

		p strong {
			.introCondBold();
			font-size: 24px;
			color: #4b4b4b;
		}

		li a {
			color: #5e5e5e;
		}

		li i {
			margin-right: 30px;
		}

		@media (min-width: 992px) {

			.top-left-background {
				position: absolute;
				top: 0;
				left: 0;
				width: 300px;
				height: 145px;
				background: url('++resource++plonetheme.modernbase/footer-topleft.svg');
			}

			.bottom-left-background {
				position: absolute;
			    left: 0;
			    bottom: 0;
			    width: 200px;
			    height: 250px;
			    background: url("++resource++plonetheme.modernbase/footer-bottomleft.svg");
			}

			.right-background {
				position: absolute;
			    top: 40px;
			    right: 0;
			    width: 250px;
			    height: 330px;
			    background: url('++resource++plonetheme.modernbase/footer-right.svg');
			}

		}
	}

	@media (min-width: 992px) {
		.social-media-wrapper {
			width: 67%;
		}
		
		.line-wrapper {
			padding-left: 10px;
			padding-right: 10px;
		}

		.address-contact {
		    padding-right: 0px;
			padding-left: 0px;
			margin-left: -120px;
			width: 320px;
		}

		.social-media {
			margin-left: 17%;
		}
	}

	@media (max-width: 480px) {
		.address-contact {
			padding-right: 0px;
		}
	}
}

@media (min-width: 992px) {
	.plone-toolbar-expanded {

		footer {
			.address-contact {
				margin-left: -80px;
			}

			.social-media {
				margin-left: 30px;
			}
		}
	}
}

/* Mailchimp portlet */
.portletMailChimp {

	padding-top: 70px;
	padding-bottom: 60px;
	background-color: #f5f5f5;
	margin: 0px;
	margin-left: -15px;
	margin-right: -15px;

	@media (min-width: 992px) {
		position: relative;
	}

	&.portlet .portletHeader {
		border-top: 0px;
		text-align: center;
		background: inherit;
		padding-bottom: 30px;
		padding-left: 20px;
		padding-right: 20px;

		span {
			font-size: 22px;
			color: #5e5e5e;
		}
	}

	#formfield-form-widgets-email {
		text-align: center;
	}

	.portletItem {
		padding-left: 50px;
		padding-right: 50px;

		@media (min-width: 768px) {
			width: 715px;
			margin: 0 auto;
		}
	}

	.formControls {
		background: inherit;
		text-align: center;
	}

	#formfield-form-widgets-email label {
		display: none;
	}

	.formControls input:not(.btn) {
		.buttonField();
	}

	button {
		text-shadow: 0px 0px 0px #ffffff;
	}

	input[type="text"]:not(.btn),
	input[type="button"]:not(.btn),
	input[type="password"]:not(.btn) {
		.inputField();
	}

	#formfield-form-widgets-interest_groups {
		display: none;
	}

	@media (min-width: 992px) {
		.email-left-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 200px;
			height: 250px;
			background: url('++resource++plonetheme.modernbase/email-left.svg');
		}

		.email-right-background {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 200px;
			height: 250px;
			background: url('++resource++plonetheme.modernbase/email-right.svg');
		}
	}
}

/* Event recurrence */
div.riform {
	z-index: 1000;
}

div.occurrence {
	clear: both;
}

/* General */

.vevent span.cal_month {
    font-size: 12px;
}

.vevent span.cal_wkday {
    font-size: 12px;
}

body:not(.frontend) footer > .container {
	width: 100%;
}

.template-image_view {
	.image-product img {
		max-width: 100%;
		height: auto;
	}
}

body.frontend.section-contact {
	article#content {
		margin-bottom: 0px;
	}
}

body.frontend.template-listing_view article#content {
	margin-bottom: 0px;
}

body.template-login_form #content-core, 
body.template-logged_out #content-core {
	max-width: 500px;
}

.alert-warning {
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}

body.template-default_error_message #content-core p {
    white-space: initial;
}

#formfolder-base-edit .field {
	width: auto;
}

/* Search page */
body.frontend.template-search {
	letter-spacing: 0.05em;

	.lead-img {
		width: 100%;
	}

	.search-item {
		padding-bottom: 50px;
	}

	.actionMenu dt {
		/*position: initial;
		display: block;*/
	}

	h4.item-title {
		margin-top: 20px;
	}

	p.event-date {
		font-size: 20px;
		color: #228ea7;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.item-description {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	a img {
		cursor: pointer;
	}

	.highlightedSearchTerm {
		background: none;
		box-shadow: none;
		font-weight: 800;
	}

	h4 .highlightedSearchTerm {
		font-weight: 400;
	}

	#sorting-options .highlightedSearchTerm {
		font-weight: 400;
	}

	#search-filter-toggle {
		/*margin: 0 auto;
		display: block;*/
		.buttonField();
		width: auto;
	}

	input.search-btn {
		.buttonField();
		width: auto;
	}

	#searchform .input-group {
		max-width: 450px;

		@media (max-width: 768px) {
			max-width: 100%;
		}
	}

	.searchPage .actionMenu dd {
		/*top: 140px;
		width: 400px;
		left: calc(50% - 200px);*/
		top: 55px;
		width: 400px;
		
		@media (max-width: 768px) {
			left: 0;
			width: auto;
			top: 140px;
		}
	}

	.searchPage .actionMenu {
		float: none;
		margin-top: 30px;
	}

	#search-results-wrapper {
		margin-top: 40px;
	}

	#search-results-bar-wrapper {
		padding-bottom: 10px;
	}

	.search-input {
		height: 52px;
	}

	.pagination {
		margin-top: 20px;
	}

	&.plone-toolbar-expanded {
		.actionMenu dt {
			position: initial;
		}

		.searchPage .actionMenu {
			float: none;
		}

		#searchform .input-group {
			max-width: 100%;
			width: 100%;
		}
	}

	@media (max-width: 768px) {
		.actionMenu dt {
			position: initial;
		}

		.searchPage .actionMenu {
			float: none;
		}
	}

	#search-results {
		padding-top: 20px;
	}

	#searchResultsSort {
		display: none;
	}
	
	#search-results-wrapper {
		.autotabs {
			border: 0;
			border-radius:0;
			box-shadow: none;
			padding-left: 0px;
		}

		#searchResultsSort {
			background: transparent;
			border-bottom: 0;
		}

		.autotoc-nav {
			margin-left: 0px;
		}

		.autotoc-nav a {
			border:0px;
			border-radius: 0;
			background: transparent;

			&.active:hover {
				cursor: pointer;
			}

			&:hover {
				color: #0085a1;
			}

		}

		.autotabs .autotoc-nav .autotab-heading {
			margin-left: 0px;
		}

		a:hover {
			text-decoration: underline;
			color: #0085a1;

			h4 {
				color: #0085a1;
			}
		}

		.pagination {
			a:hover {
				color: #ffffff;
				text-decoration: none;
			}
		}

	}	

	@media (max-width: 769px) {
		.autotabs .autotoc-nav {
			max-height: 80px;
		}
	}

	@media (min-width: 480px) and (max-width: 768px) {
		.title-container {
		    padding-left: 15px;
			padding-right: 15px;
		}
	}

	abbr {
		cursor: initial;
	}

}

/* 404 page */
body.frontend.template-default_error_message {
	.lead-img {
		width: 100%;
	}

	h4.item-title {
		margin-top: 20px;
	}

	a:hover {
		text-decoration: underline;
		color: #0085a1;

		h4 {
			color: #0085a1;
		}
	}

	p.event-date {
		font-size: 20px;
		color: #228ea7;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.item-description {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	a img {
		cursor: pointer;
	}

	.similar-item {
		padding-bottom: 50px;
	}

	abbr {
		cursor: initial;
	}
}

/* TOP MENU */
#cd-nav {
	.navigation-search-wrapper {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 30%;

		@media (max-width: 768px) {
			position: initial;
			padding-left: 30px;
			width: auto;
		}

		@media (max-width: 480px) {
			position: initial;
			padding-top: 50px;
			padding-left: 15px;
			width: auto;
		}
	}

	.searchField {
		display: inline-block;
		width: auto;
		background-color: transparent;
		background:transparent;
		color: #ffffff;
		border: 0px;
		width: 75%;
		padding-left: 10px;
		letter-spacing: 0.15em;

		@media (max-width: 768px) {
			width: auto;
		}

		@media (max-width: 480px) {
			width: auto;
		}
	}

	.searchField::-webkit-input-placeholder {
	   color: #ffffff;
	   text-transform: uppercase;
	   letter-spacing: 0.10em;
	}

	.searchField:-moz-placeholder { /* Firefox 18- */
	   color: #ffffff;  
	   text-transform: uppercase;
	   letter-spacing: 0.15em;
	}

	.searchField::-moz-placeholder {  /* Firefox 19+ */
	   color: #ffffff;  
	   text-transform: uppercase;
	   letter-spacing: 0.15em;
	}

	.searchField:-ms-input-placeholder {  
	   color: #ffffff;  
	   text-transform: uppercase;
	   letter-spacing: 0.15em;
	}

	.searchSection {
		display: none;
	}

	.fa.fa-search {
		/*color: rgba(255, 255, 255, 0.8);*/
	}

	.searchButton {
		.buttonField();
		display: inline-block;
		width: auto;
		margin: 0;
		margin-top: -1px;
		background: transparent;
		background-color: transparent;

		&:hover {
			background: transparent;
			text-shadow: none;
			box-shadow: none;
			outline: none;
			outline: 0px;
			outline-offset: 0px;
		}

		&:active {
			background: none;
			text-shadow: none;
			box-shadow: none;
			outline: none;
			outline: 0px;
			outline-offset: 0px;
		}

		&:focus {
			background: none;
			text-shadow: none;
			box-shadow: none;
			outline: none;
			outline: 0px;
			outline-offset: 0px;
		};
	}
}







